body{
	font-family:'Montserrat';
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 17px;
}
a{
	text-decoration: none;
	color: white;
	text-decoration: 1s;
	color: white;
}
.block-1 {
	position: relative;
	background:url('/img/header/group 805.svg')-6% 4% no-repeat,url('/img/header/group 805.svg')39% 83% no-repeat,url('/img/header/image 285.svg')103% 64.3% no-repeat,url('/img/header/image 285.svg')102.3% 68% no-repeat,url('/img/header/image 285.svg')97.5% 73% no-repeat,url('/img/header/image 285.svg')93.5% 68.5% no-repeat,url('/img/header/image 285.svg')93.5% 60% no-repeat,url('/img/header/image 285.svg')82% 88% no-repeat,url('/img/header/image 285.svg')88% 80% no-repeat,url('/img/header/image 285.svg')87% 83% no-repeat,url('/img/header/image 285.svg')77% 83% no-repeat,url('/img/header/image 285.svg')77% 74% no-repeat,url('/img/header/image 285.svg')-2% 42% no-repeat,url('/img/header/image 285.svg')19% 73% no-repeat,url('/img/header/image 285.svg')18% 80% no-repeat,url('/img/header/image 285.svg')8% 75% no-repeat,url('/img/header/image 285.svg')-5% 80% no-repeat,url('/img/header/image 285.svg')103% 25% no-repeat,url('/img/header/image 285.svg')102% 27% no-repeat,url('/img/header/image 285.svg')97% 32% no-repeat,url('/img/header/image 285.svg')93% 27% no-repeat,url('/img/header/image 285.svg')93% 17% no-repeat,url('/img/header/image 285.svg') 37% 54% no-repeat,url('/img/header/image 285.svg') 50% 33% no-repeat,url('/img/header/vector 10.svg') 60% 20% no-repeat,url('/img/header/image 285.svg') 33% 39% no-repeat, linear-gradient(113.28deg, #1A47EA 3.44%, #82E9FF 96.25%);
	max-width: 2030px;
	margin: 0 auto;
	& .decoration{
		position: absolute;
		width: 120px;
		height:50px;
		background: url('/img/header/image 285.svg')80% 40% no-repeat;	
	}
	& .decoration-1 {
		top: 40%;
		left: 10%;
		transform: rotate(-70deg);
	}
	& .decoration-2 {
		top: 62%;
		left: 54%;
		transform: rotate(43deg);
	}
	& .decoration-3 {
		top: 41%;
		left: 65.5%;
		transform: rotate(25deg);
	}
	& .decoration_text {
		position: absolute;
		font-weight: 600;
		font-size: 45px;
		color: rgba(255, 255, 255, 0.05);
	}	
	& .decoration_text-1 {
		top:20%;
		left: 1%;
	}
	& .decoration_text-2 {
		top:10%;
		left: 34.5%;
	}
	& .decoration_text-3 {
		top:10%;
		right: 22%;
		transform: rotate(-16deg);
	}
	& .decoration_text-4 {
		display: inline-block;
		top:80%;
		right: 5%;
		font-size: 55px;
		color: rgba(255, 255, 255, 0.15);
	}
	& .decoration_text-5 {
		top:73%;
		left: 48%;
	}
	& .decoration_text-6 {
		top:52%;
		left: 55%;
	}
}
.container {
	padding: 0 0 0 90px;
	max-width: 1500px;
	margin: 0 auto;
}
.header {
	position: relative;
	padding: 45px 0 15px 0;
	display: flex;
	justify-content: space-between;
}
.header__menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-evenly;
	@media (max-width: 375px){
		position: absolute;
		top: 100%;
		left: 0;
	}
}
.header__menu-link {
	position: relative;
	&:hover{	
		&:before{
			content: " ";
			position: absolute;
			transform: translate(-50%,-50%);
			bottom:50%;
			left: 50%;
			width: 25px;
			height: 3px;
			background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
		}
	}
}
.header__btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 215px;
	position: relative;
	top: -20px;
	margin: 0 15px 0 0;
}
.select{
	position: relative;
	font-family:'Montserrat';
	&:after{
		content:" ";
		position: absolute;
		top: 50%;
		right: 7%;
		transform: translate(-50%,-50%);
		border-top:5px solid #2E3A59;;
		border-left: 5px solid transparent ;
		border-right: 5px solid transparent;
		pointer-events: none;
	}
}
select {
	box-shadow:none;
	outline: 0;
	border:0!important;
	appearance: none;
	cursor: pointer;
	width: 123px;
	padding:0 0 0 65px;
	height: 58px;
	border-radius: 10px;
	font-size: 17px;
	font-weight: 700;
	color:rgba(46, 58, 89, 1);
	background:url('/img/header/image 253.jpg')20px 12px no-repeat white;
	font-family:'Montserrat';	
}
option{
		font-family:'Montserrat';
		font-weight: 700;
		// &:checked{
			
		// }
	}
.header__btns_picture{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	border-radius: 10px;
	width: 77px;
	height: 60px;
	background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
	& img{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
// ========================================================================================/

//==================================== Main BLOCK 1 ========================================/

// ========================================================================================/
.block_text {
	position: relative;
	z-index: 99;
	padding: 80px 0 0 0;
	max-width: 680px;
	color: white;
}
.title {
	position:relative;
	font-size: 55px;
	font-weight: 800;
	line-height: 67px;
	margin: 0 0 60px 0;
	& img{
		position: relative;
		top: 7px;
		left: 3px;
	}
	&:before,&:after{
		content: " ";
		position: absolute;
		background: #FB8500;
		transform: rotate(-45deg);
		width: 40px;
		height: 8px;
	}
	&:before{
		top: 10px;
		left: -15px;
	}
	&:after{
		top: -1px;
		left: -26px;
	}
}
.text {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	& span {
		display: block;
		margin: 40px 0 0 0;
	}
	&:before{
	content:" ";
	position: absolute;
	top:-35px;
	left: 0;
	width: 110px;
	height: 5px;
	background: linear-gradient(120.79deg, #FFAC8B 31.33%, #FF4900 101.79%);
	}
}
.btns {
	margin: 45px 0 0 0 ;
	display: flex;
	position: relative;
	z-index: 100;	
}
.btn{

	width: 240px;
	height: 78px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	display: flex;
	align-items: center;		
}
.btn__buy {
	background:url('/img/header/thin_big_right.svg')150px 50% no-repeat, linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%) ;
	margin: 0 35px 0 0;
	transition-duration: 0.3s;
	& span{
		margin: 0 0 0 40px;
	}
	&:hover{
		transition-duration: 0.3s;
		box-shadow: 0px 0px 2px 2px orange;
	}
}
.btn__video {
	transition-duration: 0.3s;
	box-sizing:border-box;
	justify-content:center;
	border:1px solid rgba(169, 234, 255, 1);
	&:hover{
		transition-duration: 0.3s;
		box-shadow: 0px 0px 2px 2px rgba(169, 234, 255, 1);
	}
}
.amg_bottom{
	margin: 150px 0 -5px 0;
	position:relative;
	width: 100%;
}
.amg{
	position: absolute;
	z-index: 1;
}
.amg_bottom2{
	top: 170px;
	right: 0;
}
.amg_bottom3{
	top: 745px;
	left: 100px;
}